In [1]:
# Heart Disease Predection using Random Forest, Naive Bayes, and Decision Tree classifier prediction algorithms.

import pandas as pd

import matplotlib.pyplot as plt
%matplotlib inline

import numpy as np

In [2]:
data = pd.read_csv("D:/Maged/heart/heart.csv")

In [3]:
data.head()

,age,sex,cp,trestbps,chol,fbs,restecg,thalach,exang,oldpeak,slope,ca,thal,target
0,63,1,3,145,233,1,0,150,0,2.3,0,0,1,1
1,37,1,2,130,250,0,1,187,0,3.5,0,0,2,1
2,41,0,1,130,204,0,0,172,0,1.4,2,0,2,1
3,56,1,1,120,236,0,1,178,0,0.8,2,0,2,1
4,57,0,0,120,354,0,1,163,1,0.6,2,0,2,1

In [4]:
data.describe()
#describe data

,age,sex,cp,trestbps,chol,fbs,restecg,thalach,exang,oldpeak,slope,ca,thal,target
count,303.000000,303.000000,303.000000,303.000000,303.000000,303.000000,303.000000,303.000000,303.000000,303.000000,303.000000,303.000000,303.000000,303.000000
mean,54.366337,0.683168,0.966997,131.623762,246.264026,0.148515,0.528053,149.646865,0.326733,1.039604,1.399340,0.729373,2.313531,0.544554
std,9.082101,0.466011,1.032052,17.538143,51.830751,0.356198,0.525860,22.905161,0.469794,1.161075,0.616226,1.022606,0.612277,0.498835
min,29.000000,0.000000,0.000000,94.000000,126.000000,0.000000,0.000000,71.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,47.500000,0.000000,0.000000,120.000000,211.000000,0.000000,0.000000,133.500000,0.000000,0.000000,1.000000,0.000000,2.000000,0.000000
50%,55.000000,1.000000,1.000000,130.000000,240.000000,0.000000,1.000000,153.000000,0.000000,0.800000,1.000000,0.000000,2.000000,1.000000
75%,61.000000,1.000000,2.000000,140.000000,274.500000,0.000000,1.000000,166.000000,1.000000,1.600000,2.000000,1.000000,3.000000,1.000000
max,77.000000,1.000000,3.000000,200.000000,564.000000,1.000000,2.000000,202.000000,1.000000,6.200000,2.000000,4.000000,3.000000,1.000000

In [5]:
data.info()
# There is no missing values in the whole cvs file.

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 303 entries, 0 to 302
Data columns (total 14 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   age       303 non-null    int64
 1   sex       303 non-null    int64
 2   cp        303 non-null    int64
 3   trestbps  303 non-null    int64
 4   chol      303 non-null    int64
 5   fbs       303 non-null    int64
 6   restecg   303 non-null    int64
 7   thalach   303 non-null    int64
 8   exang     303 non-null    int64
 9   oldpeak   303 non-null    float64
 10  slope     303 non-null    int64
 11  ca        303 non-null    int64
 12  thal      303 non-null    int64
 13  target    303 non-null    int64
dtypes: float64(1), int64(13)
memory usage: 33.2 KB

In [6]:
#Analyzing target variable
data["target"].describe()

count    303.000000
mean       0.544554
std        0.498835
min        0.000000
25%        0.000000
50%        1.000000
75%        1.000000
max        1.000000
Name: target, dtype: float64

In [7]:
data["target"].unique()
#Unique

array([1, 0], dtype=int64)

In [8]:
print(data.corr()["target"].abs().sort_values(ascending=False))
#Columns correlated with "Target"
#High >>>> exang
#Low  >>>> fbs

target      1.000000
exang       0.436757
cp          0.433798
oldpeak     0.430696
thalach     0.421741
ca          0.391724
slope       0.345877
thal        0.344029
sex         0.280937
age         0.225439
trestbps    0.144931
restecg     0.137230
chol        0.085239
fbs         0.028046
Name: target, dtype: float64

In [9]:

from sklearn.model_selection import train_test_split

predictors = data.drop("target",axis=1)
target = data["target"]

A_train,A_test,B_train,B_test = train_test_split(predictors,target,test_size=0.20,random_state=0)

In [10]:
A_train.shape

(242, 13)

In [11]:
B_train.shape

(242,)

In [12]:
A_test.shape

(61, 13)

In [13]:
B_test.shape

(61,)

In [14]:
from sklearn.metrics import accuracy_score
# percentage accuracy out of 100

In [15]:
# Decision Tree classifier prediction
# Decision Tree classifier prediction
# Decision Tree classifier prediction
# Decision Tree classifier prediction



from sklearn.tree import DecisionTreeClassifier

max_accuracy = 0


for a in range(200):
    dt = DecisionTreeClassifier(random_state=a)
    dt.fit(A_train,B_train)
    B_pred_dt = dt.predict(A_test)
    current_accuracy = round(accuracy_score(B_pred_dt,B_test)*100,2)
    if(current_accuracy>max_accuracy):
        max_accuracy = current_accuracy
        best_a = a



dt = DecisionTreeClassifier(random_state=best_a)
dt.fit(A_train,B_train)
B_pred_dt = dt.predict(A_test)

In [16]:
print(B_pred_dt.shape)

(61,)

In [17]:
score_dt = round(accuracy_score(B_pred_dt,B_test)*100,2)

print("The accuracy score achieved using Decision Tree is: "+str(score_dt)+" %")

The accuracy score achieved using Decision Tree is: 81.97 %

In [18]:
# The accuracy using Decision Tree classifier prediction algorithm = ((81.97 %))

In [19]:
# Naive Bayes classifier prediction
# Naive Bayes classifier prediction
# Naive Bayes classifier prediction
# Naive Bayes classifier prediction


from sklearn.naive_bayes import GaussianNB

nb = GaussianNB()

nb.fit(A_train,B_train)

B_pred_nb = nb.predict(A_test)

In [20]:
B_pred_nb.shape

(61,)

In [21]:
score_nb = round(accuracy_score(B_pred_nb,B_test)*100,2)

print("The accuracy score achieved using Naive Bayes is: "+str(score_nb)+" %")

The accuracy score achieved using Naive Bayes is: 85.25 %

In [22]:
# The accuracy using Naive Bayes classifier prediction algorithm = ((85.25 %))

In [23]:
from sklearn.ensemble import RandomForestClassifier

max_accuracy = 0


for a in range(2000):
    rf = RandomForestClassifier(random_state=a)
    rf.fit(A_train,B_train)
    B_pred_rf = rf.predict(A_test)
    current_accuracy = round(accuracy_score(B_pred_rf,B_test)*100,2)
    if(current_accuracy>max_accuracy):
        max_accuracy = current_accuracy
        best_a = a
        

rf = RandomForestClassifier(random_state=best_a)
rf.fit(A_train,B_train)
B_pred_rf = rf.predict(A_test)

In [24]:
B_pred_rf.shape

(61,)

In [25]:
score_rf = round(accuracy_score(B_pred_rf,B_test)*100,2)

print("The accuracy score achieved using Random Forest is: "+str(score_rf)+" %")

The accuracy score achieved using Random Forest is: 90.16 %

In [26]:
# The accuracy using Decision Tree classifier prediction algorithm = ((90.16 %))

In [27]:
# Comparing the three used algorithms for this dataset, the most accurate one is Random Forest algorithm with (90.16 %) accuracy score.
# Random Forest > Naive Bayes > Decision Tree

In [28]:
#Thanks!!